@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
    string dateJour = "29/10/22";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Plancher Expert.</h1>
    <p>Objectif of society <a href="Plancher-Expert.com"></a>.</p>
    <p>@dateJour</p>
    <img src="~/images/produit.jpg" alt="Alternate Text" />
</div>


